Twisted==19.7.0
pyasn1==0.1.9
zope.interface==4.2.0
pycrypto==2.6.1
python-keyczar==0.716
APScheduler==3.2.0
cryptography==1.4
M2Crypto==0.24.0
urllib3==1.20
python-etcd==0.4.4
PyYAML==3.12
pykube==0.15.0
paramiko==2.1.2
txsockjs==1.2.2
